@import "tailwindcss";

.menu_button {
    /* attr(background_color); */
    @apply inline-flex
    items-center
    gap-2
    rounded-l-xl
    rounded-r-none
    px-3
    py-1.5
    text-sm/6
    font-semibold
    text-white
    focus:not-data-focus:outline-none
    data-focus:outline
    data-focus:outline-white
    data-hover:bg-gray-700
    data-open:bg-gray-700;
}
.tag_close_button {
    @apply px-2
    border-l-white/5
    rounded-r-xl
    rounded-l-none;
}
.menu_items {
    @apply backdrop-blur-md w-52 origin-top-right rounded-xl border border-white/5 bg-black/50 p-1 text-sm/6 text-white transition duration-100 ease-out [--anchor-gap:--spacing(1)] focus:outline-none data-closed:scale-95 data-closed:opacity-0;
}
.menu_item {
    @apply bg-transparent  flex w-full items-center gap-2 rounded-lg px-3 py-1.5 data-focus:bg-white/10;
}
.menu_item_shortcut {
    @apply ml-auto  font-sans text-xs text-white/50;
}
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
